@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --navbar-background-start-rgb: 0, 0, 255; /* Lighter shade for the navigation bar */
  --navbar-background-end-rgb: 0, 0, 255; /* Lighter shade for the navigation bar */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --navbar-background-start-rgb: 50, 50, 50; /* Lighter shade for the navigation bar in dark mode */
    --navbar-background-end-rgb: 70, 70, 70; /* Lighter shade for the navigation bar in dark mode */
  
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Apply the lighter background color to the navigation bar */
nav {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--navbar-background-end-rgb))
  ) rgb(var(--navbar-background-start-rgb));
}
